.footer {
    background-color: #131313;
    padding: 1.4rem 0;
    flex: 0 0 auto;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials-item {
    margin: 0 1rem;
}

.socials-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.socials-link:hover:not(.socials-link-mail) svg{
    stroke: #6a6a6a;
}

.socials-link:hover svg circle:last-child {
    fill: #6a6a6a;
}

.socials-link:hover p:not(.phone-city) {
    color: #6a6a6a;
}

.socials-link-mail:hover path {
    fill: #6a6a6a;
}

.socials-text {
    margin-left: 0.8rem;
}

.socials-text p:not(.phone-city) {
    margin: 0;
}

.phone-city {
    margin: 0 0 0.3rem 0;
    color: #9a9a9a;
}

